.button {
	display: inline-block;
	width: 72px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #f5dab1;
	border-radius: 6px;
	color: #e6a23c;
	background: #fdf6ec;
	cursor: pointer;
}
.btn-order{
	width: 150px;
}
.button:hover {
	background: #e6a23c;
	border-color: #e6a23c;
	color: #fff;
}
.button-del {
	display: inline-block;
	width: 72px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #f5dab1;
	border-radius: 6px;
	color: #f56c6c;
	background: #fdf6ec;
	cursor: pointer;
}

.button-del:hover {
	background: #f56c6c;
	border-color: #f56c6c;
	color: #fff;
}

.btn-p {
	width: 132px;
	color: #409eff;
	background: #ecf5ff;
	border-color: #b3d8ff;
}

.btn-p:hover {
	background: #409eff;
	border-color: #409eff;
	color: #fff;
}
.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 35px;
    line-height: 35px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 180px;
}
.el-select__inner {
    -webkit-appearance: none;
    background:url(./xjt.png) 150px center no-repeat;
    background-size:16px 16px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 180px;
}
.inner2 {
	background:url(./xjt.png) 84px center no-repeat;
	background-size:16px 16px;
	background-color: #fff;
    width: 110px;
    height: 35px;
    line-height: 35px;
}
.el-search-content {
	display: inline-block;
	width: 72px;
	height: 35px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #409eff;
	border-radius: 6px;
	color: #409eff;
	background: #ecf5ff;
	cursor: pointer;
}
.el-search-content:hover {
	background: #409eff;
	border-color: #409eff;
	color: #fff;
}






.el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 2px 3px;
    line-height: 1;
    box-sizing: border-box;
    width: 180px;
    height: 80px;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}





















